*.exe
*.pdb
*.dll
*.ptx
*.fatbin
bin/options.json
bin/ui.ini
bin/raytracer
bin/tmp/
build
_build
bin/lib
thirdparty/oidn/lib
thirdparty/oidn/include
bin/_tmp/
thirdparty/oidn/
blender/etx_tracer_exporter/__pycache__/
build-debug
build-release
