*.exe
*.pdb
*.dll
*.ptx
*.fatbin
*.blend1
/build/
/bin/options.json
/bin/ui.ini
/bin/raytracer
/bin/bsdf_validation
/bin/procedural_geometry
/bin/*.app/
/bin/cache/
/bin/tmp/
/bin/_tmp/
/bin/assets_testing/
/bin/lib
/bin/shaders/
/bin/interop/
/bin/access/
/blender/etx_tracer_exporter/__pycache__/
/thirdparty/oidn/
papers/
build-vs18/
thirdparty/dxc
bin/bsdf/cache/
bin/review/
bin/validation/
artifacts
scripts/validation
dxc
libdxcompiler.dylib
playground_app
