*.exe
*.pdb
*.dll
*.ptx
*.fatbin
*.blend1
/build/
/bin/options.json
/bin/ui.ini
/bin/raytracer
/bin/cache/
/bin/tmp/
/bin/_tmp/
/bin/assets_testing/
/bin/lib
/blender/etx_tracer_exporter/__pycache__/
/thirdparty/oidn/
papers/
build-vs18/
thirdparty/dxc
